RewriteEngine On

# Redirect .php to clean URL
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteRule ^ /%1 [R=301,L]

# Internally map clean URL to .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.resteasyservices\.com\.au [NC]
RewriteRule ^(.*)$ https://resteasyservices.com.au/$1 [L,R=301]