Options -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .phar
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8 .phar

<FilesMatch "\.(php|phtml|php[3-8]|phar)$">
    Require all denied
</FilesMatch>
